@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {

    [x-cloak] { display: none !important; }

    .input {
        @apply border-slate-200 focus:ring focus:ring-indigo-100 focus:outline-none rounded-md block outline-none focus:border-indigo-200 mt-1 w-full;
    }

    .btn-link {
        @apply inline-flex items-center px-4 py-2 bg-indigo-600 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-indigo-700 active:bg-indigo-900 focus:outline-none focus:border-indigo-900 focus:ring focus:ring-indigo-300 disabled:opacity-25 transition;
    }

    .primary-btn {
        @apply inline-flex items-center justify-center rounded-full py-3 px-5 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-indigo-600 text-white hover:text-slate-100 hover:bg-indigo-700 active:bg-indigo-700 active:text-white focus-visible:outline-indigo-800;
    }

    .podcatcher-link {
        @apply inline-block mt-1 px-4 py-1.5 border rounded-full text-sm text-slate-500 hover:text-slate-700;
    }

    /*
    Time Seeker Styles
    */
    #time-seeker {
        height: 23px;
        -webkit-appearance: none;
        margin: 10px 0;
        width: 100%;
        /* background-color: #334155; */
    }

    #time-seeker:focus {
        outline: none;
    }

    #time-seeker::-webkit-slider-runnable-track {
        width: 100%;
        height: 7px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #000000;
        background: #F1F5F9;
        border-radius: 10px;
        border: 0px solid #000000;
    }

    #time-seeker::-webkit-slider-thumb {
        box-shadow: 0px 0px 0px #000000;
        border: 0px solid #000000;
        height: 17px;
        width: 5px;
        border-radius: 10px;
        background: #334155;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -5px;
    }

    #time-seeker:focus::-webkit-slider-runnable-track {
        background: #F1F5F9;
    }

    #time-seeker::-moz-range-track {
        width: 100%;
        height: 7px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #000000;
        background: #F1F5F9;
        border-radius: 10px;
        border: 0px solid #000000;
    }

    #time-seeker::-moz-range-thumb {
        box-shadow: 0px 0px 0px #000000;
        border: 0px solid #000000;
        height: 17px;
        width: 5px;
        border-radius: 10px;
        background: #334155;
        cursor: pointer;
    }

    #time-seeker::-ms-track {
        width: 100%;
        height: 7px;
        cursor: pointer;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }

    #time-seeker::-ms-fill-lower {
        background: #F1F5F9;
        border: 0px solid #000000;
        border-radius: 20px;
        box-shadow: 0px 0px 0px #000000;
    }

    #time-seeker::-ms-fill-upper {
        background: #F1F5F9;
        border: 0px solid #000000;
        border-radius: 20px;
        box-shadow: 0px 0px 0px #000000;
    }

    #time-seeker::-ms-thumb {
        margin-top: 1px;
        box-shadow: 0px 0px 0px #000000;
        border: 0px solid #000000;
        height: 17px;
        width: 5px;
        border-radius: 10px;
        background: #334155;
        cursor: pointer;
    }

    #time-seeker:focus::-ms-fill-lower {
        background: #F1F5F9;
    }

    #time-seeker:focus::-ms-fill-upper {
        background: #F1F5F9;
    }
}
